<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--
  <logger name="org.apache.spark" level="WARN"/>

  <logger name="org.apache.spark.SparkContext" level="INFO"/>
  <logger name="org.apache.spark.streaming.StreamingContext" level="INFO"/>
  <logger name="org.apache.spark.sql.SQLContext" level="INFO"/>

  <logger name="org.apache.spark.util.Utils" level="INFO"/>
  -->

  <root level="OFF">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>